---
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Services from "../components/Services.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Contact from "../components/Contact.astro";
import ClinicaVeterinaria from "../components/ClinicaVeterinaria.astro";
import Nosotros from "../components/Nosotros.astro";
import "../styles/global.css";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout
  title="Propuesta para Pet Salud"
  description="Pagina web hecha con mucho cariño para Pet Salud"
>
  <main>
    <SectionContainer >
      <Hero />
    </SectionContainer>
        <SectionContainer>
      <Nosotros />
    </SectionContainer>
    <SectionContainer>
      <Services />
    </SectionContainer>
    <SectionContainer>
      <ClinicaVeterinaria />
    </SectionContainer>
    <SectionContainer>
      <Contact />
    </SectionContainer>

  </main>
</Layout>
